@media (max-width: 768px) {
    .big-text {
        font-size: 4rem;
        margin: 0 1rem;
    }

    .countdown-el span {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .countdown-container {
        overflow-x: auto;
        flex-wrap: nowrap;
    }

    .big-text {
        font-size: 5vw;
    }

    .countdown-el span {
        font-size: 3vw;
    }
}
