* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* запрещает прокрутку */
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px #000;
    background-image: url("./corl.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

.banner {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); /* черный, 50% прозрачности */
  height: 12.5vh; 
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: -300px;
  margin-bottom: 100px;
}

.text {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(3rem, 8vw, 8rem);
  font-weight: bold;
  z-index: 1;
}


.countdown-container {
    display: flex;
    flex-wrap: nowrap;         /* запрет на перенос */
    justify-content: center;
    overflow-x: auto;          /* горизонтальная прокрутка при необходимости */
    gap: 20px;
    width: 100%;
    max-width: 100vw;
    margin-top: -50px;
}

.countdown-el {
    min-width: 80px;
    text-align: center;
    #background-color: rgba(0, 0, 0, 0.5);
    #border-radius: 10px;
    padding: 10px;
}

.big-text {
    font-size: clamp(2rem, 12vw, 6rem); /* адаптивный размер */
    font-weight: bold;
    margin: 0 1vw;
    min-width: 60px;
}

.countdown-el span {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
