* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px #000;
    background-image: url("./corl.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
}

.countdown-container {
    display: flex;
    flex-wrap: nowrap;         /* запрет на перенос */
    justify-content: center;
    overflow-x: hidden;          /* горизонтальная прокрутка при необходимости */
    gap: 20px;
    width: 100%;
    max-width: 100vw;
}

.countdown-el {
    min-width: 80px;
    text-align: center;
    margin: 0 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
}

.big-text {
    font-size: clamp(2rem, 12vw, 6rem); /* адаптивный размер */
    font-weight: bold;
    margin: 0 1vw;
    min-width: 60px;
}

.countdown-el span {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}
